label{
  padding: 10px 30px;
  background: aqua;
  color:#000;
  margin: 30px auto;
  border-radius: 15px;
  width: 50%;
}


.overlay{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  background: black;
  pointer-events: none;
  opacity:0;
  -webkit-transform:scale(0.5);
          transform: scale(0.5);


}
input[type="checkbox"]:checked ~ .overlay{
  pointer-events: auto;
  opacity: 0.9;
          transform:scale(1);
  -webkit-transform:scale(1);
          transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
}
.modal{
  position:fixed;
  pointer-events: none;
  top:50%;
  left:50%;
  z-index:100;
  -webkit-transform:translate(-50%, -50%) scale(0.5);
  transform:translate(-50%, -50%) scale(0.5);
  width:100%;
  max-width: 640px;
  opacity: 0;
}
input[type="checkbox"]:checked~.modal{
  pointer-events: auto;
  opacity: 1;
          transform:translate(-50%,-50%) scale(1);
  -webkit-transform:translate(-50%,-50%) scale(1);
  transition: tranform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: tranform 0.5s ease, opacity 0.5s ease;
transition-delay: 0.1s;
  }
.modal__content{
  display: block;
  padding:30px;
  background: white;
  z-index: 100;
}
