h3{
  color: purple;
  text-decoration: underline;
}

.button-theme{
  padding: 16px 300px;
  background-color: aqua;
  border-radius: 15px;

}
.marioBlock{
  display: inline-block;
  position:relative;
  margin: 80px auto;
  width:16em;
  height:16em;
}
#wahoo{
  outline: none;
}
#wahoo:active,.marioBlock{
  animation: wahooMario 0.8s ease-in-out 1;
}

@keyframes wahooMario {
  0%{left:0; bottom: 0; transform: rotate(0);}
  30%{left:200px; bottom: 200px; transform: rotate(-250deg);}
  80%{left:400px; bottom: 0; transform: rotate(0);}
  100%{left:0; bottom: 0;}
}

.mario{
  display:block;
  width:1em;
  height: 1em;
  background-color: aqua;
  box-shadow:
  /* f1 */
  0em 0em 0em aqua,
  1em 0em 0em aqua,
  2em 0em 0em aqua,
  3em 0em 0em aqua,
  4em 0em 0em aqua,
  5em 0em 0em aqua,
  6em 0em 0em aqua,
  7em 0em 0em aqua,
  8em 0em 0em aqua,
  9em 0em 0em aqua,
  10em 0em 0em aqua,
  11em 0em 0em aqua,
  12em 0em 0em aqua,
  13em 0em 0em aqua,
  14em 0em 0em aqua,
  15em 0em 0em aqua,
/* f2 */
  0em 1em 0em aqua,
  1em 1em 0em aqua,
  2em 1em 0em aqua,
  3em 1em 0em aqua,
  4em 1em 0em aqua,
  5em 1em 0em red,
  6em 1em 0em red,
  7em 1em 0em red,
  8em 1em 0em red,
  9em 1em 0em aqua,
  10em 1em 0em aqua,
  11em 1em 0em orange,
  12em 1em 0em orange,
  13em 1em 0em orange,
  14em 1em 0em aqua,
  15em 1em 0em aqua,
/* f3 */
  0em 2em 0em aqua,
  1em 2em 0em aqua,
  2em 2em 0em aqua,
  3em 2em 0em aqua,
  4em 2em 0em red,
  5em 2em 0em red,
  6em 2em 0em red,
  7em 2em 0em red,
  8em 2em 0em red,
  9em 2em 0em red,
  10em 2em 0em red,
  11em 2em 0em red,
  12em 2em 0em orange,
  13em 2em 0em orange,
  14em 2em 0em aqua,
  15em 2em 0em aqua,
/* f4 */
0em 03em 0em aqua,
1em 03em 0em aqua,
2em 03em 0em aqua,
3em 03em 0em aqua,
4em 03em 0em maroon,
5em 03em 0em maroon,
6em 03em 0em maroon,
7em 03em 0em orange,
8em 03em 0em orange,
9em 03em 0em black,
10em 03em 0em orange,
11em 03em 0em aqua,
12em 03em 0em red,
13em 03em 0em red,
14em 03em 0em aqua,
15em 3em 0em aqua,
/* f5 */
0em 4em 0em aqua,
1em 4em 0em aqua,
2em 4em 0em aqua,
3em 4em 0em maroon,
4em 4em 0em orange,
5em 4em 0em maroon,
6em 4em 0em orange,
7em 4em 0em orange,
8em 4em 0em orange,
9em 4em 0em orange,
10em 4em 0em orange,
11em 4em 0em orange,
12em 4em 0em aqua,
13em 4em 0em aqua,
14em 4em 0em aqua,
15em 4em 0em aqua,
/* f6 */
0em 5em 0em aqua,
1em 5em 0em aqua,
2em 5em 0em aqua,
3em 5em 0em maroon,
4em 5em 0em orange,
5em 5em 0em maroon,
6em 5em 0em orange,
7em 5em 0em aqua,
8em 5em 0em aqua,
9em 5em 0em aqua,
10em 5em 0em aqua,
11em 5em 0em aqua,
12em 5em 0em aqua,
13em 5em 0em aqua,
14em 5em 0em aqua,
15em 5em 0em aqua,

0em 6em 0em aqua,
1em 6em 0em aqua,
2em 6em 0em aqua,
3em 6em 0em maroon,
4em 6em 0em orange,
5em 6em 0em maroon,
6em 6em 0em orange,
7em 6em 0em aqua,
8em 6em 0em aqua,
9em 6em 0em aqua,
10em 6em 0em aqua,
11em 6em 0em aqua,
12em 6em 0em aqua,
13em 6em 0em aqua,
14em 6em 0em aqua,
15em 6em 0em aqua,

0em 7em 0em aqua,
1em 7em 0em aqua,
2em 7em 0em aqua,
3em 7em 0em maroon,
4em 7em 0em orange,
5em 7em 0em maroon,
6em 7em 0em orange,
7em 7em 0em aqua,
8em 7em 0em aqua,
9em 7em 0em aqua,
10em 7em 0em aqua,
11em 7em 0em aqua,
12em 7em 0em aqua,
13em 7em 0em aqua,
14em 7em 0em aqua,
15em 7em 0em aqua,

0em 8em 0em aqua,
1em 8em 0em aqua,
2em 8em 0em aqua,
3em 8em 0em maroon,
4em 8em 0em orange,
5em 8em 0em maroon,
6em 8em 0em orange,
7em 8em 0em aqua,
8em 8em 0em aqua,
9em 8em 0em aqua,
10em 8em 0em aqua,
11em 8em 0em aqua,
12em 8em 0em aqua,
13em 8em 0em aqua,
14em 8em 0em aqua,
15em 8em 0em aqua,

0em 9em 0em aqua,
1em 9em 0em aqua,
2em 9em 0em aqua,
3em 9em 0em maroon,
4em 9em 0em orange,
5em 9em 0em maroon,
6em 9em 0em orange,
7em 9em 0em aqua,
8em 9em 0em aqua,
9em 9em 0em aqua,
10em 9em 0em aqua,
11em 9em 0em aqua,
12em 9em 0em aqua,
13em 9em 0em aqua,
14em 9em 0em aqua,
15em 9em 0em aqua,

0em 10em 0em aqua,
1em 10em 0em aqua,
2em 10em 0em aqua,
3em 10em 0em maroon,
4em 10em 0em orange,
5em 10em 0em maroon,
6em 10em 0em orange,
7em 10em 0em aqua,
8em 10em 0em aqua,
9em 10em 0em aqua,
10em 10em 0em aqua,
11em 10em 0em aqua,
12em 10em 0em aqua,
13em 10em 0em aqua,
14em 10em 0em aqua,
15em 10em 0em aqua,

0em 11em 0em aqua,
1em 11em 0em aqua,
2em 11em 0em aqua,
3em 11em 0em maroon,
4em 11em 0em orange,
5em 11em 0em maroon,
6em 11em 0em orange,
7em 11em 0em aqua,
8em 11em 0em aqua,
9em 11em 0em aqua,
10em 11em 0em aqua,
11em 11em 0em aqua,
12em 11em 0em aqua,
13em 11em 0em aqua,
14em 11em 0em aqua,
15em 11em 0em aqua,

0em 12em 0em aqua,
1em 12em 0em aqua,
2em 12em 0em aqua,
3em 12em 0em maroon,
4em 12em 0em orange,
5em 12em 0em maroon,
6em 12em 0em orange,
7em 12em 0em aqua,
8em 12em 0em aqua,
9em 12em 0em aqua,
10em 12em 0em aqua,
11em 12em 0em aqua,
12em 12em 0em aqua,
13em 12em 0em aqua,
14em 12em 0em aqua,
15em 12em 0em aqua,

0em 13em 0em aqua,
1em 13em 0em aqua,
2em 13em 0em aqua,
3em 13em 0em maroon,
4em 13em 0em orange,
5em 13em 0em maroon,
6em 13em 0em orange,
7em 13em 0em aqua,
8em 13em 0em aqua,
9em 13em 0em aqua,
10em 13em 0em aqua,
11em 13em 0em aqua,
12em 13em 0em aqua,
13em 13em 0em aqua,
14em 13em 0em aqua,
15em 13em 0em aqua,

0em 14em 0em aqua,
1em 14em 0em aqua,
2em 14em 0em aqua,
3em 14em 0em maroon,
4em 14em 0em orange,
5em 14em 0em maroon,
6em 14em 0em orange,
7em 14em 0em aqua,
8em 14em 0em aqua,
9em 14em 0em aqua,
10em 14em 0em aqua,
11em 14em 0em aqua,
12em 14em 0em aqua,
13em 14em 0em aqua,
14em 14em 0em aqua,
15em 14em 0em aqua,

0em 15em 0em aqua,
1em 15em 0em aqua,
2em 15em 0em aqua,
3em 15em 0em maroon,
4em 15em 0em orange,
5em 15em 0em maroon,
6em 15em 0em orange,
7em 15em 0em aqua,
8em 15em 0em aqua,
9em 15em 0em aqua,
10em 15em 0em aqua,
11em 15em 0em aqua,
12em 15em 0em aqua,
13em 15em 0em aqua,
14em 15em 0em aqua,
15em 15em 0em aqua;

}
