.clip1{
  -webkit-clip-path: circle(35% at 50% 50%);
          clip-path: circle(35% at 50% 50%);
}
.clip2{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%,0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%,0 75%);
}
.clip3{
  -webkit-clip-path:;
  clip-path:        polygon(
                    20% 0,
                    0 20%,
                    30% 50%,
                    0 80%,
                    20% 100%,
                    50% 70%,
                    80% 100%,
                    100% 80%,
                    70% 50%,
                    100% 20%,
                    80% 0,
                    50% 30%

    );
}
.clip4{
  clip-path:polygon(
            0 35%,
            0 65%,
            60% 65%,
            60% 100%,
            100% 50%,
            60% 0,
            60% 35%
    );
}
