*,*::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image{
  position: relative;
  display: inline-block;
  font-size:1rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 60px;
}
.image::after{
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width:200px;
  padding:10px 20px 10px 45px;
  border: dashed 1px yellow;
  background-image: url(./neatassets/name.png);
  background-color: aqua;
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  z-index:1;
  content: "" attr(alt) " image not found";
  margin-right: 10px;
  }
